## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100),k=80)
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))
#yes, the length is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []
for x in range(80):
    sample_list_2.append(random.randint(0,100))
    
print(sample_list_2)

[12, 57, 9, 29, 94, 43, 86, 21, 15, 48, 31, 55, 85, 70, 85, 0, 16, 61, 38, 95, 78, 40, 72, 19, 45, 67, 12, 46, 33, 4, 62, 54, 21, 97, 10, 44, 63, 9, 35, 95, 17, 58, 35, 33, 29, 51, 19, 0, 21, 7, 11, 89, 20, 62, 86, 54, 57, 24, 53, 54, 22, 15, 68, 2, 59, 35, 39, 0, 19, 1, 79, 0, 52, 0, 1, 42, 97, 82, 3, 25]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))
#No it is not, because here in this list values are not unique and after the change to set duplicate values only remain in the set once, sets do not contain duplicate values.

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = []
for x in set1:
    if x not in set2:
        set3.append(x)
set3 = set(set3)
print(set3)

{5, 6, 8, 18, 23, 26, 27, 32, 37, 41, 47, 49, 50, 56, 60, 64, 65, 66, 69, 73, 74, 75, 76, 77, 80, 81, 83, 87, 88, 90, 91, 92, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = []
for x in set2:
    if x not in set1:
        set4.append(x)
set4 = set(set4)
print(set4)

{1, 2, 3, 39, 79, 22, 86, 57, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = []
for x in set1:
    if x in set2:
        set5.append(x)
set5 = set(set5)
print(set5)

{0, 4, 7, 9, 10, 11, 12, 15, 16, 17, 19, 20, 21, 24, 25, 29, 31, 33, 35, 38, 40, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 55, 58, 59, 61, 63, 67, 68, 70, 72, 78, 82, 85, 89, 94, 95, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:
from collections import Counter
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
length = {"len1":80, "len2":53, "len3":33, "len4":11, "len5":47}
Counter(length).most_common(5)

len(set3)+len(set5)*2+len(set4) == len(set2)+len(set1)

80
56
33
9
47

True

#### Create an empty set called `set6`.

In [12]:
set6 = []
set6 = set(set6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 29, 31, 32, 33, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 87, 88, 89, 90, 91, 92, 94, 95, 97, 99}

#### Check if `set1` and `set6` are equal.

In [14]:
print(set1)
print(set6)
if set1 == set6:
    print(True)
else:
    print(False)

{0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 29, 31, 32, 33, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 87, 88, 89, 90, 91, 92, 94, 95, 97, 99}
{0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 29, 31, 32, 33, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 87, 88, 89, 90, 91, 92, 94, 95, 97, 99}
True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [15]:
print("Is set2 in set1?", set2.issubset(set1))
print("Is set3 in set1?", set3.issubset(set1))

Is set2 in set1? False
Is set3 in set1? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [22]:
print("Union of set 3,4,5", set3 | set4 | set5)
ag1 = set3.union(set4)
ag2 = ag1.union(set5)
print(type(ag2))
print(ag2)
print("Union of set 1,2", set1 | set2)
print(set1.union(set2))

Union of set 3,4,5 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 97, 99}
<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 97, 99}
Union of set 1,2 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 86, 87, 88, 89, 90, 92, 94, 95, 97}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 86, 87, 88, 89, 90, 92, 94, 95, 97}

#### Using the `pop` method, remove the first element from `set1`.

In [19]:
print(set1)
set1.pop()
print(set1)

{4, 5, 6, 7, 8, 10, 12, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 32, 33, 35, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 85, 87, 88, 90, 92, 94, 95, 97}
{5, 6, 7, 8, 10, 12, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 32, 33, 35, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 85, 87, 88, 90, 92, 94, 95, 97}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for x in list_to_remove:
    if x in set1:
        set1.remove(x)
print(set1)

{5, 6, 7, 8, 10, 12, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 32, 33, 35, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 85, 87, 88, 90, 92, 94, 95, 97}