# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [19]:
# import numpy and pandas

import pandas as pd
import numpy as np
import scipy.stats as stats
import math
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp
import scipy.stats as st
from scipy.stats import ttest_rel
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [99]:
def lazy_answers_rel(i):
        if i < 0.05:
            print(i)
            print('hypothesis 0 is rejected, the two samples are significantly different')
        elif i >= 0.05 and i<=0.1:
            print(i)
            print('hypothesis 0 not rejected: but not highly confident')
        elif i > 0.1 and i<=0.6:
            print(i)
            print('hypothesis 0 not rejected, the samples are similar')
        else:
            print(i)
            print('hypothesis 0 not rejected, the samples are very similar')

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:

pokemon = pd.read_csv(r"C:\Users\leube\Downloads\Pokemon (1).csv")

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [11]:
# Your code here:
legendary = pokemon[pokemon['Legendary']==True]
legendary.shape

# 65 legendaries

(65, 13)

In [12]:
losers = pokemon[pokemon['Legendary']==False]
losers.shape

# 735 non-legendaries

(735, 13)

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [16]:
# Your code here:
mean1 = legendary['Total'].mean()
std1 = legendary['Total'].std()

In [17]:
mean2 = losers['Total'].mean()
std2 = losers['Total'].std()

In [18]:
print(mean1,mean2)

637.3846153846154 417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [26]:
# Your code here:
i = ttest_ind(legendary['Total'],losers['Total'], equal_var=False).pvalue
i

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [25]:
# Your conclusions here:
lazy_answers_rel(i)

9.357954335957446e-47
hypothesis 0 is rejected, the two samples are significantly different

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [27]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [37]:
# Your code here:
types = list(pokemon['Type 1'].unique())

for item in types:
    water = pokemon[pokemon['Type 1']=='Water']
    listtype = pokemon[pokemon['Type 1']==item]
    meanw = water['Total'].mean()
    stdw = water['Total'].std()
    meant = listtype['Total'].mean()
    stdt = listtype['Total'].std()
    print(f'water mean = {meanw}, type mean = {meant}, water std = {stdw}, type std = {stdt}')

water mean = 430.45535714285717, type mean = 421.14285714285717, water std = 113.18826606431458, type std = 106.6506263819414
water mean = 430.45535714285717, type mean = 458.0769230769231, water std = 113.18826606431458, type std = 109.76049615338435
water mean = 430.45535714285717, type mean = 430.45535714285717, water std = 113.18826606431458, type std = 113.18826606431458
water mean = 430.45535714285717, type mean = 378.92753623188406, water std = 113.18826606431458, type std = 117.8752230165166
water mean = 430.45535714285717, type mean = 401.68367346938777, water std = 113.18826606431458, type std = 115.73303771765518
water mean = 430.45535714285717, type mean = 399.14285714285717, water std = 113.18826606431458, type std = 92.35868656562297
water mean = 430.45535714285717, type mean = 443.40909090909093, water std = 113.18826606431458, type std = 105.72195173294949
water mean = 430.45535714285717, type mean = 437.5, water std = 113.18826606431458, type std = 123.91308087890974
water mean = 430.45535714285717, type mean = 413.1764705882353, water std = 113.18826606431458, type std = 123.78168043682679
water mean = 430.45535714285717, type mean = 416.44444444444446, water std = 113.18826606431458, type std = 102.46437780003703
water mean = 430.45535714285717, type mean = 475.94736842105266, water std = 113.18826606431458, type std = 139.0266445496576
water mean = 430.45535714285717, type mean = 453.75, water std = 113.18826606431458, type std = 108.05922686947147
water mean = 430.45535714285717, type mean = 439.5625, water std = 113.18826606431458, type std = 110.07268493019481
water mean = 430.45535714285717, type mean = 433.4583333333333, water std = 113.18826606431458, type std = 108.28102694886786
water mean = 430.45535714285717, type mean = 550.53125, water std = 113.18826606431458, type std = 146.26753754788714
water mean = 430.45535714285717, type mean = 445.741935483871, water std = 113.18826606431458, type std = 109.12621675287613
water mean = 430.45535714285717, type mean = 487.7037037037037, water std = 113.18826606431458, type std = 115.42090692325094
water mean = 430.45535714285717, type mean = 485.0, water std = 113.18826606431458, type std = 161.40012391568973

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

Write your conclusion below.

In [44]:
# Your code here:
types = list(pokemon['Type 1'].unique())

for item in types:
    water = pokemon[pokemon['Type 1']=='Water']
    listtype = pokemon[pokemon['Type 1']==item]

    i = ttest_ind(water['Total'],listtype['Total'], equal_var=True).pvalue
    print(f'comparison of water and {item}: ')
    lazy_answers_rel(i)
    print('\n')

comparison of water and Grass:
0.581639254174863
hypothesis 0 not rejected, the samples are similar


comparison of water and Fire:
0.1440191557485167
hypothesis 0 not rejected, the samples are similar


comparison of water and Water:
1.0
hypothesis 0 not rejected, the samples are very similar


comparison of water and Bug:
0.0038548781665409104
hypothesis 0 is rejected, the two samples are significantly different


comparison of water and Normal:
0.07042188260586342
hypothesis 0 not rejected: but not highly confident


comparison of water and Poison:
0.17784523406914793
hypothesis 0 not rejected, the samples are similar


comparison of water and Electric:
0.5134433259970335
hypothesis 0 not rejected, the samples are similar


comparison of water and Ground:
0.7615857927492209
hypothesis 0 not rejected, the samples are very similar


comparison of water and Fairy:
0.5633643398463386
hypothesis 0 not rejected, the samples are similar


comparison of water and Fighting:
0.5578259589757799
hypothesis 0 not rejected, the samples are similar


comparison of water and Psychic:
0.023680970625352817
hypothesis 0 is rejected, the two samples are significantly different


comparison of water and Rock:
0.24328992443308184
hypothesis 0 not rejected, the samples are similar


comparison of water and Ghost:
0.6869629027430053
hypothesis 0 not rejected, the samples are very similar


comparison of water and Ice:
0.9055978314393027
hypothesis 0 not rejected, the samples are very similar


comparison of water and Dragon:
2.1352166466685194e-06
hypothesis 0 is rejected, the two samples are significantly different


comparison of water and Dark:
0.5036228889206
hypothesis 0 not rejected, the samples are similar


comparison of water and Steel:
0.020189304895386166
hypothesis 0 is rejected, the two samples are significantly different


comparison of water and Flying:
0.3520704454796231
hypothesis 0 not rejected, the samples are similar

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [45]:
# Your code here:
from scipy.stats import ttest_rel

In [52]:
i = ttest_rel(pokemon['Defense'],pokemon['Attack']).pvalue

Describe the results of the test in the cell below.

In [53]:
# Your conclusions here:
lazy_answers_rel(i)
# there is a sgnificant diference between atack and defense values of the pokemons

1.7140303479358558e-05
hypothesis 0 is rejected, the two samples are significantly different

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [55]:
pokemon.head()

# conduct a hypothesis test for two values?? why an hypothesis tst and not just looking at the 2 values

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [58]:
# Your code here:
mean1 = pokemon['Sp. Atk'].mean()
mean2 = pokemon['Sp. Def'].mean()

i = ttest_rel(mean1,mean2).pvalue

C:\Users\leube\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3702: RuntimeWarning: Degrees of freedom <= 0 for slice
  return _methods._var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
C:\Users\leube\anaconda3\lib\site-packages\numpy\core\_methods.py:253: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Describe the results of the test in the cell below.

In [59]:
# Your conclusions here:
lazy_answers_rel(i)

nan
hypothesis 0 not rejected, the samples are very similar

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [63]:
# Your code here
difference = pokemon
difference['difference between means'] = difference['Sp. Atk']-difference['Sp. Def']

In [65]:
ttest_1samp(difference['difference between means'],0, alternative='two-sided')

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [76]:
# Your code here:
crosstab = pd.crosstab(pokemonw['Name'], [pokemonw['Legendary'], pokemonw['Type 1']])

crosstab

Legendary               False                                                  \
Type 1                    Bug Dark Dragon Electric Fairy Fighting Fire Flying
Name
Abomasnow                   0    0      0        0     0        0    0      0
AbomasnowMega Abomasnow     0    0      0        0     0        0    0      0
Abra                        0    0      0        0     0        0    0      0
Absol                       0    1      0        0     0        0    0      0
AbsolMega Absol             0    1      0        0     0        0    0      0
...                       ...  ...    ...      ...   ...      ...  ...    ...
Zoroark                     0    1      0        0     0        0    0      0
Zorua                       0    1      0        0     0        0    0      0
Zubat                       0    0      0        0     0        0    0      0
Zweilous                    0    1      0        0     0        0    0      0
Zygarde50% Forme            0    0      0        0     0        0    0      0

Legendary                            ...   True                                \
Type 1                  Ghost Grass  ... Flying Ghost Grass Ground Ice Normal
Name                                 ...
Abomasnow                   0     1  ...      0     0     0      0   0      0
AbomasnowMega Abomasnow     0     1  ...      0     0     0      0   0      0
Abra                        0     0  ...      0     0     0      0   0      0
Absol                       0     0  ...      0     0     0      0   0      0
AbsolMega Absol             0     0  ...      0     0     0      0   0      0
...                       ...   ...  ...    ...   ...   ...    ...  ..    ...
Zoroark                     0     0  ...      0     0     0      0   0      0
Zorua                       0     0  ...      0     0     0      0   0      0
Zubat                       0     0  ...      0     0     0      0   0      0
Zweilous                    0     0  ...      0     0     0      0   0      0
Zygarde50% Forme            0     0  ...      0     0     0      0   0      0

Legendary
Type 1                  Psychic Rock Steel Water
Name
Abomasnow                     0    0     0     0
AbomasnowMega Abomasnow       0    0     0     0
Abra                          0    0     0     0
Absol                         0    0     0     0
AbsolMega Absol               0    0     0     0
...                         ...  ...   ...   ...
Zoroark                       0    0     0     0
Zorua                         0    0     0     0
Zubat                         0    0     0     0
Zweilous                      0    0     0     0
Zygarde50% Forme              0    0     0     0

[800 rows x 33 columns]

In [83]:
lists

['Grass',
 'Fire',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

In [92]:
pokemon['Water?'] = np.where(pokemon['Type 1'] == 'Water','Yes','No')

# lists = [x for x in list(pokemon['Type 1'].unique()) if x != 'Water']
crosstab = pd.crosstab(pokemon['Name'], [pokemon['Legendary'], pokemon['Water?']])

# for x in lists:
#     crosstab.drop(crosstab[x] | crosstab[x], axis=1, inplace=True)
# how do I get the crosstab to only show water

In [93]:
crosstab

Legendary               False     True
Water?                     No Yes   No Yes
Name
Abomasnow                   1   0    0   0
AbomasnowMega Abomasnow     1   0    0   0
Abra                        1   0    0   0
Absol                       1   0    0   0
AbsolMega Absol             1   0    0   0
...                       ...  ..  ...  ..
Zoroark                     1   0    0   0
Zorua                       1   0    0   0
Zubat                       1   0    0   0
Zweilous                    1   0    0   0
Zygarde50% Forme            0   0    1   0

[800 rows x 4 columns]

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [104]:
# Your code here:
stats.chi2_contingency(crosstab)[1]

0.4788906497115103

Based on a 95% confidence, should we reject the null hypothesis?

In [103]:
# Your answer here:
lazy_answers_rel(stats.chi2_contingency(crosstab)[1])
# no we should keep the null hypothesis in this case, the frequencies of the 4 different option types of pokemons,
# (legendary or not, water or not), are similar, pvalue is higher than 0.05, with the confidec level we have we can accept 
# the 0 hypothesis

0.4788906497115103
hypothesis 0 not rejected, the samples are similar